:root {
     --font-cool: #F6F6F6;
     --primary: #679936;
     --secondary: #F4F6F1;
}

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

img {
     width: 100%;
}

.flex-box {
     display: flex;
}

.primaty-btn {
     margin-right: 1em;
     border-radius: 50px;
     padding: 1em 3em;
     background-color: var(--primary);
     border: none;
     color: var(--font-cool);
     font-size: 1.2em;
     transition: 0.3s ease-in-out;
}

.primaty-btn:hover {
     background-color: var(--secondary);
     color: #000;
     border: 1px solid var(--primary);
}

.secondary-btn {
     border-radius: 50px;
     padding: 0.5em 3em;
     background-color: transparent;
     color: var(--font-cool);
     border: 2px solid var(--primary);
     font-size: 1.2em;
     transition: 0.3s ease-in-out;
}

.secondary-btn:hover {
     background-color: var(--secondary);
     color: #000;
     border: 1px solid var(--primary);
}

/* Hero section*/
.hero {
     width: 100%;
     height: 100vh;
     margin-bottom: 5em;
     background-image: url(../image/morden-3.png);
     background-position-x: center;
     background-position-y: center;
     background-size: cover;
     background-repeat: no-repeat;
     border-image: fill 2 linear-gradient(#0003, #0001);
     position: relative;
}

.logo img {
     width: 10em;
     height: 5em;
     aspect-ratio: 2/1;
}

/* Navbar */
.navbar {
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     margin-bottom: 2.5em;

}

nav {
     width: 100%;
     justify-content: space-between;
     align-items: center;
     color: #000;
}

nav ul {
     width: 45%;
     list-style: none;
     justify-content: space-between;
     align-items: center;
}

nav ul li a {
     text-decoration: none;
     color: var(--font-cool);
     font-size: 1.2em;
     font-weight: 500;
     transition: 0.2s ease-in;
}

nav ul li a:hover {
     color: #595757;
}

.nev-right {
     width: 15%;
     justify-content: space-between;
     align-items: center;
}

.nev-right i {
     font-size: 1.5em;
     font-weight: 700;
     padding: 0.5em;
     color: var(--font-cool);
     position: relative;
}

.nev-right .count {
     position: absolute;
     top: -0.4em;
     left: 0;
}

.seach {
     border: 1px solid;
     border-radius: 100%;
     cursor: pointer;
}

.search-box {
     visibility: hidden;
     position: fixed;
     top: 0;
     left: 0;
}

.search-box.active {
     width: 100%;
     height: 20em;
     backdrop-filter: blur(50px);
     -webkit-backdrop-filter: blur(50px);
     padding: 2em;
     z-index: 99;
     visibility: visible;
}

.search-box .sea-item {
     width: 80%;
     height: 5em;
     padding: 1em;
     font-size: 1.2em;
     background-color: transparent;
     border-radius: 0.5em;
     outline: none;
     border: 1px solid var(--font-cool);
     color: var(--font-cool);


}

.search-box .fa-xmark {
     font-size: 3em;
     color: var(--font-cool);
     cursor: pointer;
}

/* sticky navbar */
.navbar-sticky {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #fbfdfd;
     color: #000;

     z-index: 9999;
     box-shadow: 0 0 20px #c6c4c4;
     transition: 0.4s ease-in-out;
}

.navbar-sticky ul li a {
     color: #9f9d9d;
}

.navbar-sticky ul li a:hover {
     color: #000;
}

.navbar-sticky .nev-right i {
     color: #000;
}

.navbar-sticky .hero-topic {
     padding-top: 15em;
}

/* Navbar End */
.hero-topic {
     /* padding-top: em; */
     max-width: 40%;
     color: var(--font-cool);
}

.hero-topic h2 {
     font-size: 2.5em;
     line-height: 1.3em;
     margin-bottom: 0.5em;
}

.hero-topic p {
     font-size: 1.2em;
}

.hero-reting {
     max-width: 70%;
     height: 8em;
     padding-top: 0.5em;
     background-color: #fff;
     border-radius: 30px 0 0;
     position: absolute;
     right: 0;
     bottom: 0;
}

.reting {
     width: 96%;
     height: 90%;
     padding: 1.5em;
     margin: 1em 0 0 1em;
     background-color: var(--primary);
     border-radius: 2em;
}

.reting-item {
     justify-content: space-between;
     align-items: center;
     gap: 0.8px;
     color: var(--font-cool);
}

.reting-item h2 {
     margin-right: 0.3em;
}

/* End Hero Section */

/* Collection */
.Collation {
     width: 100%;
     margin-bottom: 3em;
     padding: 0 0 0 1em;
     display: grid;
     grid-template-rows: 15em 20em;
     grid-template-columns: 50% 45%;
     gap: 1.5em 2.5em;
}

.col-item {
     border-radius: 0.5em;
     position: relative;
     grid-row: 1/3;
     grid-column: span 1;

}

.col-item img {
     width: 100%;
     height: 100%;
     aspect-ratio: 2/1;
}

.ourHead {
     position: absolute;
     top: 0;
     left: 0;
}

.our {
     width: 11em;
     background-color: #fff;
     padding-right: 0.5em;
     padding-bottom: 0.5em;
     border-radius: 0 0 1.5em;
}

.collaction-btn {
     background-color: transparent;
     padding: 0.4em 1em;
     border-radius: 50px;
     border: 2px solid var(--primary);
     color: var(--primary);
     transition: 0.3s ease-in-out;
}

.modern {
     width: 5.5em;
     background-color: #fff;
     font-size: 2.5em;
     font-weight: 700;
     padding-top: 0.5em;
     border-radius: 0 30px 0px 0;
     margin-bottom: 0;
}

.shopa {
     background-color: #fff;
     font-size: 2.5em;
     text-align: start;
     font-weight: 700;
     padding: 0 3em 0.7em 0;
     border-radius: 0 50px 50px 0;
}

.card {
     width: 6em;
     height: 5.5em;
     position: absolute;
     bottom: -0.2em;
     right: 0;
     padding: 0.5em 0 0 0.5em;
     border-radius: 1em 0 0 0;
     border: none;
}

.card span {
     background-color: #000;
     border-radius: 1em;

}

.arrow {
     padding: 1.1em 1.4em;
     text-align: center;
     font-size: 1.5em;
     color: #fff;
     transform: rotate(-45deg);
     color: var(--font-cool);
}

.outdoor {
     grid-row: 1/2;
     grid-column: span 1;
}

.outdoo {
     grid-row: 2/2;
     grid-column: span 1;

}

.offer>button {
     margin-left: 1em;
}

.offer>button:hover {
     background-color: var(--secondary);
}

.offer>h2 {
     width: 5em;
     color: var(--font-cool);
     margin-left: 0.5em;
}

.off {
     width: 5em;
     color: var(--font-cool);
     margin: 1.5em;
}

.off span {
     font-size: 1.5em;
     font-weight: 900;
}

.off p {
     font-size: 1.5em;
     font-weight: 600;

}

.comfort {
     width: 13em;
     padding: 1em;
     position: absolute;
     top: 0;
     right: 0;
     text-align: left;
}

.compot-taitel>p {
     font-size: 1.1em;
     color: var(--font-cool);
}

.compot-taitel>button:hover {
     background-color: var(--secondary);
}

/* End Collection section*/
/* add card */
.adtocard{
     display: grid;
     place-items: center;
     position: fixed;
     right: 0.5em;
     top: 40%;
     color: #fff;
}
.adtocard > i{
     position: relative;
     background-color: var(--primary);
     border-radius: 30%;
     padding: 0.7em;
     font-size: 1.5em;
     cursor: pointer;
}
.prodCount{
     position: absolute;
     top: 5px;
     right: 0.2em;
     font-size: 0.8em;
}
.addcard{
     width: 0;
     height:0;
     visibility: hidden;
     background-color: var(--secondary);
     position: fixed;
     top: 20%;
     right: 0;
     border-radius: 5% 0 0 5%;
     transition: 0.3s ease-in;
}
.addcard.show{
     width: 30em;
     height: 25em;
     visibility: visible;
     color: #000;
     overflow-y: hidden;
}
.card-line p{
     font-weight: bold;
}
.card-line i{
     cursor: pointer;
     font-size: 1.3em;
     color: var(--primary);
}
.addcard.show .card-line,.total{
     width: 90%;
     margin:0.5em auto;
     overflow-y: hidden;
}
.total .item{
     margin-bottom: 0.5em;
}
.total img{
     width: 5em;
     height: 3em;
     aspect-ratio: 2/1;
}
.quntaty i{
     background-color: #82c242;
     padding: 0.2em;
     color: var(--font-cool);
     cursor: pointer;
}
.quntaty>span{
     margin-inline:1em;
}
.trash{
     color: rgba(235, 128, 128, 0.674);
     cursor: pointer;
}
/* add card */
/* Stard morden */
.modernDesigne {
     width: 100%;
     padding: 0.5em 0;
     background-color: var(--secondary);
}

.designeTop {
     margin: 2.5em 0;
}

.designeTop>button {
     color: #000;
}

.any-designe {
     width: 32%;
     height: 25em;
     border-radius: 2em;
     margin-bottom: 2em;
     overflow: hidden;
     position: relative;
     transition: 0.3s ease-in;
}

.any-designe:hover {
     box-shadow: -3px -3px 10px #777575;
}

.any-designe>img {
     width: 100%;
     height: 100%;
     aspect-ratio: 2/1;
}

.any-titel {
     color: var(--font-cool);
     position: absolute;
     left: 1em;
     bottom: 0.5em;
     /* color: #000; */
}

.any-titel>.price {
     font-size: 2em;
     font-weight: 900;
}

.get-tach {
     width: 5em;
     height: 5.5em;
     position: absolute;
     bottom: -0.2em;
     right: 0;
     padding: 0.5em 0 0 0.5em;
     border-radius: 1em 0 0 0;
     border: none;
     background-color: var(--secondary);
}

.get-tach>span {
     padding: 1.8em 0;
     background-color: var(--primary);
     border-radius: 1em;
}

.get-tach>span:hover {
     cursor: pointer;
     background-color: #82c242;
}

/* End morden Section */

/* Stard defferents */
.defferents {
     width: 100%;
     padding: 2.5em 0;
     background-color: var(--secondary);
}

.deffrernts-left {
     width: 55%;
     border-radius: 1.5em;
     overflow: hidden;
}

.deffrernts-right {
     width: 38%;
     text-align: left;

}

.deffrernts-right button {
     color: #000;
     margin-bottom: 1.5em;
}

.deffrernts-right>h2 {
     margin-bottom: 0.5em;
     font-weight: bold;
     font-size: 2.5em;
}

.deffrernts-right>.knoumore {
     background-color: #000;
     color: var(--font-cool);
     margin: 1em 0 0 0;
}

/* End defferents section*/

.cart {
     width: 20em;
     height: 23em;
     margin: 2.5em 0;
     padding: 1.5em;
     border-radius: 1.5em;
     background-color: var(--secondary);
}

.cart:hover {
     box-shadow: 0 0 20px #d0d0d0;
}

.cart img {
     width: 100%;
     height: 9.5em;
     aspect-ratio: 2/1;
     margin-bottom: 1em;
}

.cart a {
     text-decoration: none;
     color: #000;
}

/* transfrom  */
.shopNow {
     width: 100%;
     height: 100vh;
     background-image: url(../image/modern-12.png);
     background-position-x: center;
     background-position-y: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 0.1em;
}

.transfrom-content {
     width: 25em;
     margin-top: 5em;
     color: var(--font-cool);
}

.transfrom-content>h2 {
     margin: 1em 0;
     line-height: 1.5em;
}

.transfrom-content>p {
     font-size: 1.2em;
     margin-bottom: 1em;
}

/* footer */
.foot {
     width: 100%;
     padding: 1em 0;
     background-color: #011301;
}

.content {
     margin: 3em 0;
}

.footer-contant {
     width: 13em;
     color: var(--font-cool);
}

.footer-contant a {
     display: block;
     color: var(--font-cool);
     text-decoration: none;
     margin-bottom: 1em;
}

/* footer */